.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;/*since instagram logo is an inline element*/
    flex-direction: column;
}

.signup-card{
    border: 1px solid #ccc;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
}

.bottom-card{
    width: 25rem;
    border: 1px solid #ccc;
    margin-top: 1rem;
    padding: 1rem;
}

.tnc{
    margin-top: 0.5rem;
    color: gray;
}